<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOperaciones" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3012/Operaciones.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOperaciones" contract="ServiceReferenceDemo.IOperaciones"
                name="BasicHttpBinding_IOperaciones" />
        </client>
    </system.serviceModel>
</configuration>